.elements__button-delete{
   position: absolute;
   
  right: 20px;
  top: 20px;
  height: 19px;
  width: 18px;
  background-image: url("../../../images/delete.svg");
  background-color: transparent;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: 0.4s;
}

.elements__button-delete:hover {
  opacity: 0.6;
}
