.elements__button-heart {
  
  width: 22px;
  height: 19px;
  background-image: url("../../../images/heart.svg");
  background-color: #fff;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
  transition: 0.2s;
}

.elements__button-heart:hover {
  opacity: 0.5;
}

