.popup__button-close {
  position: absolute;
  right: -40px;
  top: -40px;
  height: 32px;
  width: 32px;
  background-image: url("../../../images/Close-Icon.svg");
  background-color: transparent;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: 0.4s;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .popup__button-close {
    top: -36px;
    right: 0;
    height: 20px;
    width: 20px;
  }
}
