.form__submit_inactive{
   opacity: 0.2;
   cursor:default;
   color:#000;
   background-color: #fff;
   border:1px solid #000;
}
.form__submit_inactive:hover{
    opacity: 0.2;
   cursor:default;
   color:#000;
   background-color: #fff;
   border:1px solid #000;
}