.header {
  display:flex;
  justify-content:space-between;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 42px;
    min-height: 56px;
  }
}
